**/target
.DS_Store
keystore.ks
/target/
/modules/AlgorithmsPlugin/target/
/modules/AttributeColumnPropertyEditor/target/
/modules/AttributesAPI/target/
/modules/AttributesImpl/target/
/modules/ClusteringAPI/target/
/modules/ClusteringPlugin/target/
/modules/CollectionUtils/target/
/modules/DataLaboratoryAPI/target/
/modules/DataLaboratoryPlugin/target/
/modules/DesktopClustering/target/
/modules/DBDrivers/target/
/modules/DesktopContext/target/
/modules/DesktopBranding/target/
/modules/DesktopDataLaboratory/target/
/modules/DesktopFilters/target/
/modules/DesktopProgress/target/
/modules/DesktopExport/target/
/modules/DesktopGenerate/target/
/modules/DesktopHierarchy/target/
/modules/DesktopImport/target/
/modules/DesktopLayout/target/
/modules/DesktopPartition/target/
/modules/DesktopPerspective/target/
/modules/DesktopPreview/target/
/modules/DesktopProject/target/
/modules/DesktopRanking/target/
/modules/DesktopRecentFiles/target/
/modules/DesktopSpigot/target/
/modules/DesktopStatistics/target/
/modules/DesktopTimeline/target/
/modules/DesktopTools/target/
/modules/DHNSGraph/target/
/modules/DirectoryChooser/target/
/modules/DynamicAPI/target/
/modules/DynamicImpl/target/
/modules/ExportAPI/target/
/modules/ExportPlugin/target/
/modules/ExportPluginUI/target/
/modules/FiltersAPI/target/
/modules/FiltersImpl/target/
/modules/FiltersPlugin/target/
/modules/FiltersPluginUI/target/
/modules/GeneratorAPI/target/
/modules/GeneratorPlugin/target/
/modules/GeneratorPluginUI/target/
/modules/application/target/
/modules/branding/target/
/modules/Gleem/target/
/modules/GraphAPI/target/
/modules/ImportAPI/target/
/modules/ImportPlugin/target/
/modules/ImportPluginUI/target/
/modules/LayoutAPI/target/
/modules/LayoutPlugin/target/
/modules/LongTaskAPI/target/
/modules/MostRecentFilesAPI/target/
/modules/PartitionAPI/target/
/modules/PartitionPlugin/target/
/modules/PartitionPluginUI/target/
/modules/PerspectiveAPI/target/
/modules/PreviewAPI/target/
/modules/PreviewExport/target/
/modules/PreviewExportUI/target/
/modules/PreviewPlugin/target/
/modules/ProcessorPlugin/target/
/modules/ProcessorPluginUI/target/
/modules/ProjectAPI/target/
/modules/ProjectUI/target/
/modules/RankingAPI/target/
/modules/RankingPlugin/target/
/modules/RankingPluginUI/target/
/modules/SettingsUpgrader/target/
/modules/SpigotPlugin/target/
/modules/SpigotPluginUI/target/
/modules/SplineEditor/target/
/modules/StatisticsAPI/target/
/modules/StatisticsPlugin/target/
/modules/StatisticsPluginUI/target/
/modules/TimelineAPI/target/
/modules/ToolsAPI/target/
/modules/ToolsPlugin/target/
/modules/UIComponents/target/
/modules/UIUtils/target/
/modules/Utils/target/
/modules/ValidationAPI/target/
/modules/VisualizationAPI/target/
/modules/VisualizationImpl/target/
/modules/WelcomeScreen/target/
/modules/WorkspaceUI/target/
/modules/JFreeChartWrapper/target/
/modules/CommonsWrapper/target/
/modules/CoreLibraryWrapper/target/
/modules/UILibraryWrapper/target/
/modules/AppearanceAPI/target/
/modules/AppearancePlugin/target/
/modules/AppearancePluginUI/target/
/modules/DesktopAppearance/target/
