[Desktop Entry]
Version=1.0
Type=Application
Name=Gephi
Comment=The Open Graph Viz Platform
Exec=gephi %F
Icon=${SNAP}/meta/gui/gephi.png
Terminal=false
Categories=Science;
StartupNotify=true
StartupWMClass=Gephi